*{
    margin: 0px;
}

body{
    margin: 0px;
    background-color: #131313;
}
.Body-Container{
    display: flex;
    flex-direction: column;
}

.Main-Container{
    display: flex;
    flex-direction: row;
}
.Content-Container{
    display: flex;
    flex-direction: row;
}
.Title-Container{
    margin-top: 60px;
    margin-left: 260px;
    height: 50px;
    width: 1260px;
    background-color: #2C2E31;

}
.Tags-Container{
    margin-left: 260px;
    height: 50px;
    width: 1260px;
    background-color: #131313;
}
.Problem-Container{
    margin-left: 260px;
    width: 1260px;
}

