*{
    margin: 0px;
}

body{
    margin: 0px;
}
.Body-Container{
    display: flex;
    flex-direction: column;
}

.Main-Container{
    display: flex;
    flex-direction: row;
}
.Content-Container{
    display: flex;
    flex-direction: row;
}
.Heatmap-Container{
    height: 280px;
    width: 1260px;
    background-color: rgb(115, 172, 222);
    margin: 0;
}
.Title-Container{
    height: 50px;
    width: 1260px;
    background-color: rgb(107, 236, 57);
}
.Tags-Container{
    height: 50px;
    width: 1260px;
    background-color: rgb(162, 52, 62);
}
.Problem-Container{
    background-color: #131313;
    height: 350px;
    width: 1260px;
}

